<h1>Ring for .NET</h1>

<div class="py-2"></div>

<p>This is an example implementation of the <a href="https://www.nuget.org/packages/Ring/">unofficial Ring library for .NET</a>.</p>

<div class="py-2"></div>

<h2>Ring</h2>

<p>An unofficial <a href="https://ring.com">Ring</a> library for <a href="https://www.microsoft.com/net">.NET</a>. <strong>This library is in no way endorsed by Ring nor do I represent Ring.</strong></p>

<p>Uses <a href="https://github.com/dotnet/standard">.NET Standard</a> and <a href="https://github.com/JamesNK/Newtonsoft.Json">Newtonsoft.Json</a>.</p>

<p>
    This library should work on all .NET platforms that support .NET Standard 1.4 including:

    <ul>
        <li><a href="https://github.com/microsoft/dotnet">.NET Framework</a> 4.6.1 (including <a href="https://www.asp.net">ASP.NET</a>)</li>
        <li><a href="https://github.com/dotnet/core">.NET Core</a> 1.0 (including <a href="https://github.com/aspnet/Home">ASP.NET Core</a>)</li>
        <li><a href="https://github.com/mono/mono">Mono</a> 4.6</li>
        <li><a href="https://github.com/xamarin/xamarin-macios">Xamarin.iOS</a> 10.0</li>
        <li><a href="https://github.com/xamarin/xamarin-macios">Xamarin.Mac</a> 3.0</li>
        <li><a href="https://github.com/xamarin/xamarin-android">Xamarin.Android</a> 7.0</li>
        <li><a href="https://docs.microsoft.com/en-us/windows/uwp/index">Universal Windows Platform</a> 10.0</li>
    </ul>
</p>

<h3>Credits</h3>

<p>This library was based off of <a href="https://github.com/jeroenmoors/php-ring-api">php-ring-api</a> by <a href="https://github.com/jeroenmoors">Jeroen Moors</a>.</p>