@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<p class="py-2"></p>

<h1 class="text-danger">Error</h1>

<p class="py-2"></p>

<p class="h2 text-danger">An error occurred while processing your request.</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}