@model List<Ding>
@{
    ViewData["Title"] = "Activity";
}

<div class="py-2"></div>

<h1>Activity</h1>

<div class="py-2"></div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Device</th>
            <th scope="col">Occurred At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ding in Model.OrderByDescending(e => e.CreatedAt))
        {
            <tr>
                <td>@ding.Type</td>
                <td>@ding.Device.Description</td>
                <td>@ding.CreatedAt.ToString()</td>
            </tr>
        }
    </tbody>
</table>