@model Uri
@{
    ViewData["Title"] = "Recording";
}

<h1>Recording</h1>

<div class="py-2"></div>

<div class="embed-responsive embed-responsive-16by9">
    <video class="embed-responsive-item" controls autoplay>
        <source src="@Model" type="video/mp4">
    </video>
</div>